.site-footer {
    background: #1e1e1e;
    color: #fff;
    margin-top: 50px;
    padding-top: 40px;
}


.footer-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}


.footer-box {
    flex: 1;
    min-width: 250px;
}

.footer-box h3 {
    margin-bottom: 15px;
    color: #ffcc00;
}

.footer-box p {
    line-height: 1.7;
    font-size: 14px;
    color: #ccc;
}


.footer-box ul {
    list-style: none;
    padding: 0;
}

.footer-box ul li {
    margin-bottom: 10px;
}

.footer-box ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
}

.footer-box ul li a:hover {
    color: #fff;
    text-decoration: underline;
}


.footer-bottom {
    text-align: center;
    background: #111;
    padding: 15px;
    margin-top: 30px;
    font-size: 14px;
    color: #aaa;
}


@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}