.main-header {
    background: #4b0082;
    padding: 15px 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.header-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo a {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}


.nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 25px;
    font-size: 16px;
    font-weight: 500;
}

.nav-links a:hover {
    color: #ffd700;
}